@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Regular.ttf");
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Karla";
  src: url("../assets/fonts/Karla/Karla-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
