/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;
  overflow: visible;

  // Positioning context for the mobile navigation icon
  position: relative;
  
  min-width: 80%;
  max-width: 1006px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  z-index: 1;
  @extend %clearfix;


}

.site-title-and-description {
  float: left;
  max-width: 50%;
  margin-right: -100px;

  @include media-query($screen-600) {
    max-width: 70%;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: bold;
  font-family: $title-font-family;
  line-height: $base-line-height;
  margin-bottom: 0px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-description {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-bottom: 0;
}

.site-nav {
  float: right;
  line-height: 39px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: rgb(47, 95, 116);
    font-weight: 700;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .page-link:hover {
    color: rgb(88, 165, 185);
    text-decoration: none;
  }

  .nav-dropdown {
    position: relative;
    display: inline-block;

    .page-link {
      margin-right: 0;
      cursor: pointer;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .nav-dropdown .page-link:after{
    font-size: 12px;
    content: "\00a0\25BC";
    display: inline-block;
  }

  .nav-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(62, 125, 152);
    text-color: white;
    text-align: left;

    .page-link {
      color: white;
      display: inline-block;
      margin-right: 0;
      padding-left: 12px;
      padding-right: 12px;
      min-width: max-content;
      width: 100%;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .page-link:hover {
      background-color: rgb(88, 165, 185);
    }

    .page-link:after {
      content: "";
    }
  }


  .nav-dropdown:hover .nav-dropdown-content {
    display: block;
  }


  @include media-query($screen-600) {
    //margin-right: -$spacing-unit;
    position: absolute;
    top: 16px;
    right: 9px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .nav-dropdown {
      display: block;
    }
    .nav-dropdown .page-link:after{
      content: "";
    }

    .nav-dropdown-content  {
      display: block;
      position: static;
      background-color: white;
    }

    .nav-dropdown-content .page-link {
      color: rgb(47, 95, 116);
    }

    .nav-dropdown-content .page-link:before {
      content: "  -  ";
      margin-right: 2px;
    }


    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      text-align: left;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Home page
 */


.home-panel {
  background-size: cover !important;
  background-position: 50% 50% !important;
  position: relative;
  min-height: 544px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  @include media-query($screen-780) {
    min-height: 611px;
  }
}

.home-inner {
  color: #FFF;
  margin-bottom: 0;
  padding-top: 128px + $spacing-unit * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  max-width: 1006px;

  @include media-query($screen-1000) {
    padding-top: 96px + $spacing-unit;
  }
}

.home-inner-cols {
  color: #FFF;
  padding-top: 96px + $spacing-unit * 2;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  padding-bottom: $spacing-unit;
  text-align: center;

  @include media-query($screen-1000) {
    padding-top: 48px + $spacing-unit;
  }
}

.home-inner h1, .home-inner-cols h1 {
  font-family: $title-font-family;
  font-size: 49.7665px;
  letter-spacing: normal;
  line-height: 55.9872px;
  margin-bottom: 32px;
}

.home-inner p, .home-inner-cols p {
  font-family: $base-font-family;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  line-height: 32px;
  text-align: center;
  text-size-adjust: 100%;
  font-size: 20px;
  font-weight: 200;
}

.home-inner-col-wrapper {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  max-width: 1006px;
  display: flex;
  flex-wrap: nowrap;

  .home-inner-col-item:not(:first-child) {
    margin-left: $spacing-unit;
  }

  @include media-query($screen-780) {
    flex-wrap: wrap;
    .home-inner-col-item:first-child {
      margin-bottom: $spacing-unit;
    }

    .home-inner-col-item:nth-child(2) {
      margin-left: $spacing-unit;
      margin-bottom: $spacing-unit;
    }

    .home-inner-col-item:nth-child(3) {
      margin-left: 0;
    }
  }

  @include media-query($screen-600) {
    flex-wrap: wrap;
    .home-inner-col-item:first-child {
      margin-top: $spacing-unit;
      margin-bottom: $spacing-unit * 1.5;
      margin-left: 0;
    }

    .home-inner-col-item:nth-child(2) {
      margin-bottom: $spacing-unit * 1.5;
      margin-left: 0;
    }

    .home-inner-col-item:nth-child(3) {
      margin-left: 0;
    }
  }

}

.home-inner-col-item {
  flex-basis: 0;
  flex-grow: 1;

  @include media-query($screen-780) {
    flex-basis: calc(50% - (#{$spacing-unit} / 2));
    flex-grow: 0; 
  }

  @include media-query($screen-600) {
    flex-basis: 100%;
    flex-grow: 1; 
  }



  h1 {
    font-size: 28.8px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
  }
  p {
    font-size: 16.6667px;
    line-height: 26.6667px;
    text-align: left;
  }
}

/**
 * Buttons
 */

 .buttons {
    margin-top: $spacing-unit / 2;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }

.button {
  font-family: $base-font-family;
  cursor: pointer;
  font-size: 16.66667px;
  font-weight: 500;
  line-height: 16.6667px;
  padding: 20px;
  border-radius: 50px;
  display: inline-block;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;

  @include media-query($on-laptop) {
    font-size: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.blue_button {
  background-color: rgb(62, 125, 152);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  color: white;
}

.blue_button:hover {
  background-color: rgb(47, 95, 116);
  text-decoration: none;
  color: white;
}


.clear_button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: white;
  border-style: solid;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.clear_button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration:none;
}


/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit / 2 0;
  min-width: 80%;
  max-width: 1006px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  font-style: italic;
}


/**
 * Page content
 */
.page-content {
  flex: 1;

}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  color: rgb(57, 77, 85);
  text-align: left;
}

.post-title {
  @include relative-font-size(3.625);
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  h1, h2, h3 {
    color: rgb(57, 77, 85);
  }
  color: $grey-color-dark;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
