/**
 * Site header
 */
.site-header {
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  
  width: 1006px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  @extend %clearfix;
}

.site-title-and-description {
  float: left;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: bold;
  font-family: $title-font-family;
  line-height: $base-line-height;
  margin-bottom: 0px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-description {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-bottom: 0;
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/**
 * Home page
 */


.home-panel {
  background-size: cover !important;
  background-position: 50% 50% !important;
  position: relative;
  min-height: 544px;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.home-inner {
  color: #FFF;
  margin-bottom: 0;
  padding-top: 128px + $spacing-unit * 2;
  margin-left: auto;
  margin-right: auto;
  width: 1006px;
}

.home-inner-cols {
  color: #FFF;
  margin-bottom: 0;
  padding-top: 96px + $spacing-unit * 2;
}

.home-inner h1, .home-inner-cols h1 {
  font-family: $title-font-family;
  font-size: 49.7665px;
  letter-spacing: normal;
  line-height: 55.9872px;
  margin-bottom: 32px;
}

.home-inner p, .home-inner-cols p {
  font-family: $base-font-family;
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  line-height: 32px;
  text-align: center;
  text-size-adjust: 100%;
  font-size: 20px;
  font-weight: 200;
}

.home-inner-col-wrapper {
  @extend %clearfix;
  margin-left: auto;
  margin-right: auto;
  width: 1006px;
}

.home-inner-col-item {
  width: calc(33% - (#{$spacing-unit} / 2));
  max-width:  314px;
  float: left;
  padding-left: $spacing-unit / 2;

  h1 {
    font-size: 28.8px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: left;
  }
  p {
    font-size: 16.6667px;
    line-height: 26.6667px;
    text-align: left;
  }
}

/**
 * Buttons
 */

.button {
  font-family: $base-font-family;
  cursor: pointer;
  font-size: 16.66667px;
  font-weight: 500;
  line-height: 16.6667px;
  padding: 20px;
  border-radius: 50px;
  margin: $spacing-unit / 2;
  display: inline-block;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.blue_button {
  background-color: rgb(62, 125, 152);
  color: white;
}

.clear_button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: white;
  border-style: solid;
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit / 2 0;
  width: 1006px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  font-style: italic;
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
